/* Stock Calculator Styles */
.stock-calculator {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto; 
}

.stock-calculator h3 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
  font-weight: 600;
  text-align: center;
}

.input-container {
  width: 100%;
}

.input-field-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.input-field-group label {
  width: 30%;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.input-field {
  width: 65%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.input-field:focus {
  border-color: #4CAF50;
  outline: none;
}

button {
  background-color: #005f73;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 80%;
}

button:hover {
  background-color: #008CBA;
  transform: scale(1.05);
}

button:active {
  background-color: #005f73;
}

button:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(216, 236, 165, 0.6);
}

button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.result {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin-top: 20px;
  text-align: center;
}

.loading {
  font-size: 18px;
  color: #888;
  text-align: center;
}
.react-select {
  width: 100%; /* Ensures it adjusts with the container */
  max-width: 500px; /* Increase the maximum width */
  margin: 0 auto; /* Center align */
  margin-bottom: 15px;
}

.react-select__control {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  width: 100%; /* Ensure the control spans the entire container */
}

.react-select__control:hover {
  border-color: #4CAF50;
}

.react-select__menu {
  border-radius: 5px;
}
